# PeMS_data

In [1]:
import pandas as pd

In [20]:
PeMS_data = pd.read_pickle('PeMS_dataset.pkl')
PeMS_data.sort_values('TOD')

,Date,TOD,Travel Time,# Lane Pts,start,end,distance
0,2020-01-10,00:00,3.38,37,SR 78,Centre City Pkwy,6.28
209369,2020-06-29,00:00,16.42,144,405-N/Sepulveda Blvd,405-N/Onion Ave,30.58
186047,2020-06-12,00:00,16.47,144,405-N/Sepulveda Blvd,405-N/Onion Ave,30.58
195554,2020-06-19,00:00,3.38,37,SR 78,Centre City Pkwy,6.28
195547,2020-06-19,00:00,16.58,144,405-N/Sepulveda Blvd,405-N/Onion Ave,30.58
...,...,...,...,...,...,...,...
183545,2020-06-11,23:55,19.70,231,405-N/Wardlow Rd,405-N/National Blvd,35.89
13049,2020-01-22,23:55,19.57,232,405-N/Wardlow Rd,405-N/National Blvd,35.89
47060,2020-02-21,23:55,16.77,144,405-N/Sepulveda Blvd,405-N/Onion Ave,30.58
43009,2020-02-18,23:55,21.15,248,405-N/Wardlow Rd,405-N/State Hwy 2,39.12
211391,2020-06-30,23:55,121.80,831,5-N/Vandegrift Blvd,101-N/Nellora/Daily Dr,215.97

In [4]:
PeMS_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Travel Time,211392.0,30.062288,23.704173,3.05,18.13,23.07,40.10,163.37
# Lane Pts,211392.0,260.333428,179.409164,24.00,144.00,249.00,320.00,1139.00
distance,211392.0,45.888828,35.494263,6.28,30.58,39.12,58.74,215.97

In [5]:
from pandas_profiling import ProfileReport

def generate_report(data,report):
    prof_report = ProfileReport(data)
    return prof_report.to_file(output_file= report+'.html')

In [6]:
generate_report(PeMS_data,'PeMS_data_description')

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# NU_Temporal_data_with_trip_info

In [12]:
NU_Temporal_data_with_trip_info = pd.read_pickle('NU_Temporal data_with_trip_info.pkl')
NU_Temporal_data_with_trip_info

,id,planned_arrival,created_at,trip_created_at,driven_by_charter,quantity,done_at,trip_start,trip_ordering,trip_id,customer_id,driver_id,trip_start_date,done_at_date
0,142138,07:00:00,2019-03-04 09:57:18.811154+00:00,2019-03-05 13:24:05.985918+00:00,True,1,2019-03-05 13:36:35+00:00,2019-03-05 13:33:51.132775+00:00,1,28541,866,217.0,2019-03-05,2019-03-05
1,142187,16:00:00,2019-03-04 10:04:09.909354+00:00,2019-03-05 13:24:05.627748+00:00,False,1,2019-03-05 13:37:13+00:00,2019-03-05 13:31:51.780798+00:00,1,28540,866,4.0,2019-03-05,2019-03-05
2,142126,08:03:44,2019-03-04 09:57:17.732576+00:00,2019-03-05 13:24:05.985918+00:00,True,1,2019-03-05 13:37:41+00:00,2019-03-05 13:33:51.282771+00:00,2,28541,866,217.0,2019-03-05,2019-03-05
3,142035,08:59:42,2019-03-04 09:47:31.160891+00:00,2019-03-05 13:24:05.985918+00:00,True,1,2019-03-05 13:39:42+00:00,2019-03-05 13:33:52.061596+00:00,3,28541,866,217.0,2019-03-05,2019-03-05
4,142056,16:22:02,2019-03-04 09:50:22.218035+00:00,2019-03-05 13:24:05.627748+00:00,False,1,2019-03-05 13:39:54+00:00,2019-03-05 13:31:52.383132+00:00,2,28540,866,4.0,2019-03-05,2019-03-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137299,1675931,14:17:36,2020-12-11 13:27:13.821686+00:00,2020-12-11 20:21:07.877881+00:00,True,1,2020-12-12 13:16:15.343000+00:00,2020-12-12 05:37:40.744000+00:00,26,120190,866,1041.0,2020-12-12,2020-12-12
137300,1674191,14:15:54,2020-12-11 05:40:39.406670+00:00,2020-12-11 20:20:06.714110+00:00,True,1,2020-12-12 13:29:30.562000+00:00,2020-12-12 06:06:53.811000+00:00,17,120180,866,744.0,2020-12-12,2020-12-12
137301,1674329,15:01:00,2020-12-11 06:50:20.087332+00:00,2020-12-11 20:20:06.714110+00:00,True,1,2020-12-12 14:28:47+00:00,2020-12-12 06:06:59.040000+00:00,18,120180,866,744.0,2020-12-12,2020-12-12
137303,1678535,11:26:38,2020-12-12 09:36:06.608437+00:00,2020-12-14 19:56:00.649313+00:00,False,1,2020-12-15 10:02:42.313000+00:00,2020-12-15 06:00:12.137000+00:00,11,120383,866,242.0,2020-12-15,2020-12-15
137304,1678527,12:54:52,2020-12-12 09:12:02.567757+00:00,2020-12-14 19:56:00.649313+00:00,False,1,2020-12-15 11:00:12.015000+00:00,2020-12-15 06:00:09.323000+00:00,14,120383,866,242.0,2020-12-15,2020-12-15

In [8]:
generate_report(NU_Temporal_data_with_trip_info,'NU_Temporal_data_with_trip_info_description')

Summarize dataset:   0%|          | 0/29 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
# NU_Temporal_data_with_trip_info.dtypes

In [15]:
NU_Temporal_data_with_trip_info.trip_id.nunique()

14135

Total Number of Trips              : 14135
Average Number of Trips per Month  : 643
Average Number of Trips per day    : 24
Average Number of Stops per Trips  : 10

# NU_spatio_temporal_with_distance

In [2]:
NU_spatio_temporal_with_distance = pd.read_pickle('NU_spatio-temporal_with_distance_data.pkl')
NU_spatio_temporal_with_distance

,id,start_lat,start_lon,stop_lat,stop_lon,quantity,done_at,trip_start,trip_id,customer_id,driver_id,kilometers,stop_start_lat,stop_start_lon,travel_start_time,duration,g_distance,turns,total_distance
0,100274,52.020390,5.154920,51.983227,5.079331,19,2019-01-22 01:43:49+00:00,2019-01-22 00:48:00.239601+00:00,24309,1,533.0,418.0,52.0204,5.15492,2019-01-22 01:01:09.033766+00:00,14.9833,11.582,16,193.992
1,100582,52.020390,5.154920,51.838640,4.957680,11,2019-01-22 02:11:04+00:00,2019-01-22 01:01:09.033766+00:00,24309,1,533.0,418.0,51.9832,5.07933,2019-01-22 01:43:49+00:00,18.9167,21.378,12,193.992
2,100327,52.020390,5.154920,51.979898,4.583965,2,2019-01-22 03:01:26+00:00,2019-01-22 00:47:59.436893+00:00,24309,1,533.0,418.0,51.8386,4.95768,2019-01-22 02:11:04+00:00,38.0333,45.406,17,193.992
3,100611,52.020390,5.154920,51.960995,4.543000,25,2019-01-22 03:22:42+00:00,2019-01-22 00:47:58.148863+00:00,24309,1,533.0,418.0,51.9799,4.58397,2019-01-22 03:01:26+00:00,11.5,5.352,11,193.992
4,100629,52.020390,5.154920,51.965778,4.221331,2,2019-01-22 03:52:17+00:00,2019-01-22 00:50:42.050646+00:00,24309,1,533.0,418.0,51.961,4.543,2019-01-22 03:22:42+00:00,27.2833,29.54,14,193.992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37108,2151647,52.020184,5.155052,52.000456,4.331418,22,2021-04-14 01:46:04.376000+00:00,2021-04-13 23:14:52.011000+00:00,145758,1,15347.0,152.0,52.0186,4.43402,2021-04-14 00:50:28.012000+00:00,17.6833,11.395,18,80.855
37109,2143671,52.020184,5.155052,51.581950,4.797580,1,2021-04-14 07:41:02.802000+00:00,2021-04-14 02:54:04.074000+00:00,145745,1,415.0,284.0,52.0202,5.15505,2021-04-14 02:54:04.074000+00:00,45.8167,63.41,14,63.410
37110,2153819,52.020184,5.155052,52.385803,4.841029,1,2021-04-14 07:43:09+00:00,2021-04-14 04:15:53.097000+00:00,145748,1,433.0,264.0,52.0202,5.15505,2021-04-14 04:15:53.097000+00:00,39.9,55.121,16,55.121
37111,2153861,52.020184,5.155052,52.344430,5.613690,1,2021-04-14 07:50:12.703000+00:00,2021-04-14 05:05:27.413000+00:00,145749,1,713.0,304.0,52.0202,5.15505,2021-04-14 05:05:27.413000+00:00,42.0833,58.208,14,58.208
37112,2153429,52.020184,5.155052,52.045294,4.537611,9,2021-04-14 08:04:51.516000+00:00,2021-04-14 03:14:25.809000+00:00,145750,1,215.0,143.0,52.0202,5.15505,2021-04-14 03:14:25.809000+00:00,37.5667,52.593,13,52.593

In [3]:
NU_spatio_temporal_with_distance['duration'] = NU_spatio_temporal_with_distance['duration'].astype(np.float64)
NU_spatio_temporal_with_distance['stop_start_lat'] = NU_spatio_temporal_with_distance['stop_start_lat'].astype(np.float64)
NU_spatio_temporal_with_distance['stop_start_lon'] = NU_spatio_temporal_with_distance['stop_start_lon'].astype(np.float64)
NU_spatio_temporal_with_distance['travel_start_time'] = NU_spatio_temporal_with_distance['travel_start_time'].astype(np.datetime64)
NU_spatio_temporal_with_distance['g_distance'] = NU_spatio_temporal_with_distance['g_distance'].astype(np.float64)
NU_spatio_temporal_with_distance['turns'] = NU_spatio_temporal_with_distance['turns'].astype(np.float64)

In [5]:
# NU_spatio_temporal_with_distance.dtypes

In [53]:
generate_report(NU_spatio_temporal_with_distance_data,'NU_spatio_temporal_with_distance_data_description')

Summarize dataset:   0%|          | 0/33 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [7]:
NU_spatio_temporal_with_distance.trip_id.nunique()

5272

In [16]:
5272/698

7.553008595988539

Total Number of Trips              : 5272
Average Number of Trips per Month  : 195
Average Number of Trips per day    : 7-8
Average Number of Stops per Trips  : 7